
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared styles */
.display-flex{
    display: flex;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
.btn-primary{
    background-color: rgba(255, 144, 14, 1);
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
}
main > section{
    margin-top: 130px;
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}
.brand{
    font-size: 3rem;
    font-weight: bold;
}
.dark02{
    color: #424242;
}
.dark03{
    color: #727272;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.bg-color{
    background-color: rgba(255, 144, 14, 0.1);
}
.banner, .navbar{
    max-width: 1440px;
    margin: 0 auto;
}
.banner-content{
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-size: 4rem;
    font-weight: bold;
}
.banner-image{
    width: 100%;
}
/* team and feature section section css */
.teams{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.features{
    margin-left: 130px;
    max-width: 540px;
}

#quick-list{
    font-weight: 500;
    color: #727272;
}
.feature-subtitle{
    font-size: 1rem;
    font-weight: 200;
    margin-bottom: 30px;
}
#fea{
    color: #FF900E;
}
/* facts designer */
.descri{
    max-width: 540px;
}
.facts-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.facts{
    border: 1px solid rgba(255, 144, 14, 1);
    width: 240px;
    height: 240px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}
.sponsor{
    max-width: 542px;
    margin: 50px auto;
    text-align: center;
}
.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.sponsor-companies img{
    filter: grayscale(100%);
}
/* feature section */
#feature-section-title{
    border-left: 5px solid rgba(255, 144, 14, 1);
    padding-left: 20px;
}
.feature-card{
    padding: 20px;
    box-shadow: 0 4px 30px 0px rgba(0, 0, 0, 0.06) ;
    margin-bottom: 20px;
    border-radius: 8px;
}
.feature-card .feature-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0px;
    margin-bottom: 0px;
}
.features-double{
    gap: 146px;
}
#badge{
    padding: 45px 42px ;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: -100px;
    margin-left: -78px;
}
#experience-year{
    font-size: 4rem;
    font-weight: 700;
}
.features-double img{
    width: 100%;
}
.footer{
    text-align: center;
    margin-top: 30px;
    background-color:rgba(255, 244, 231, 1);
    max-width: 1440px;
    /* height: 100px; */
    display: flex;
    align-items: centers;
    justify-content: center;
}
/* responsive media query for banner section */
/* for small devices */
@media screen and (max-width: 576px) {
    .nav-links,.navbar,.teams,.features-double{
        flex-direction: column;
    }
    .features{
        margin-left: 20px;
    }
    .team-img-container,.facts-container, .sponsor-companies{
        grid-template-columns: repeat(1,1fr);
    }
    .facts-container,.sponsor-companies{
        justify-items: center;
        gap: 24px;
    }
    #badge{
        margin-top: o px;
        margin-left: 0px;
    }
}
/* for medium size devices */
@media screen and (min-width:576px) and (max-width:992px) {
    .teams{
        flex-direction: column;
    }
    .features{
        margin: 50px auto;
    }
}
